	.title{
		color: gray;
		text-align: center;
		font-size: 30px;
	}
	
	#goods{
		margin: auto;
		text-align: center;
		padding: 0;
		border: none;
		border-spacing: 100px;
		width: 80%;
	}
	
	#ss{
		margin: auto;
		text-align: center;
		width: 80%;
	}